traci
numpy
pandas
plotly
nbformat
omegaconf
matplotlib
seaborn
SciencePlots
sumolib
scikit-learn
pyarrow
jinja2
scikit-posthocs
ray[tune]
polars
nevergrad
git+https://github.com/mschrader15/sumo-pipelines.git@0.0.1